<!doctype html>
<html lang="es">
    <!-- Resto del código HTML... -->
    <body>
        <div class="container">
          <div class="vertical-center">
              <div class="lds-hourglass"></div>
              <p>{{ message }}</p>
                {% if token %}
                <form name="brouterForm" id="brouterForm"  method="POST" action="https://webpay3gint.transbank.cl/webpayserver/initTransaction">
                  {% csrf_token %}
                  <input type="hidden" name="token_ws" value="{{ token }}" />
                  <input type="submit" value="{{ submit }}" style="border: 1px solid #6b196b;
    border-radius: 4px;
    background-color: #6b196b;
    color: #fff;
    font-family: Roboto,Arial,Helvetica,sans-serif;
    font-size: 1.14rem;
    font-weight: 500;
    margin: auto 0 0;
    padding: 12px;
    position: relative;
    text-align: center;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    max-width: 200px;" />
                </form>
                <script>
                var auto_refresh = setInterval(
                function()
                {
                }, 15000);
                function submitform()
                {
                  document.brouterForm.submit();
                }
                </script>
            {% endif %}
            </div>
        </div>
    </body>
</html>